<div class="item-container">
  <div class="upload-image" (click)="aaa()"></div>

  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="mode.create ? '../' : '../../'">
      <div *ngIf="mode.edit">
        <span>Delete</span>
        <img src="../assets/svg-icons/trash.svg">
      </div>
    </div>
    <form [formGroup]="contactItemForm">
      <div class="divider"></div>

      <div class="input-field">
        <app-input-field [label]="'full name'" [imgSrc]="'../../../assets/svg-icons/user.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-input-field [label]="'email'" [imgSrc]="'../../../assets/svg-icons/mail.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-multiple-input-fields formControlName="contacts"></app-multiple-input-fields>
      </div>

      <div class="button-container">
        <button>Cancel</button>
        <button [disabled]="true">Save</button>
      </div>
    </form>
  </div>
</div>
