<div class="item-container" *ngIf="itemDetails$ | async; let item">
  <img class="upload-image" [src]="item.img">

  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="'../../'">
      <span>{{ item.name }}</span>
      <i (click)="setItemFavorite(item)" [ngClass]="item.favorite ? 'fas fa-heart' : 'far fa-heart'"></i>
      <img src="../assets/svg-icons/edit.svg" [routerLink]="['../../edit', item.id]">
    </div>
    <div class="divider"></div>
    <div class="contact-info">
      <img src="../assets/svg-icons/mail.svg">
      <span>email</span>
      <span>{{ item.email }}</span>
    </div>
    <div class="contact-info">
      <img class="phone-numbers" src="../assets/svg-icons/phone.svg">
      <span class="phone-numbers">numbers</span>
      <ng-container *ngFor="let numbers of item.contacts">
        <span>{{ numbers.type }}</span>
        <span>{{ numbers.number }}</span>
      </ng-container>
    </div>
  </div>
</div>
