<div class="item-container">
  <div class="upload-image"></div>

  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="'../../'">
      <span>Neka osoba nemam pojma koja</span>
      <i [ngClass]="'far fa-heart'"></i>
      <img src="../assets/svg-icons/trash.svg">
    </div>
    <div class="divider"></div>
    <div class="contact-info">
      <img src="../assets/svg-icons/trash.svg">
      <span>email</span>
      <span>ofsdjvfsjdovjkosdjkvojksd</span>
    </div>
    <div class="contact-info">
      <img class="phone-numbers" src="../assets/svg-icons/trash.svg">
      <span class="phone-numbers">email</span>
      <span>HOme</span>
      <span>dom</span>
      <span>HOme</span>
      <span>dom</span>
      <span>HOme</span>
      <span>dom</span>
      <span>HOme</span>
      <span>dom</span>
    </div>
  </div>
</div>
