<div class="item-container">
  <div class="upload-image"></div>

  <div class="form-container" *ngIf="itemDetails$ | async; let item">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="'../../'">
      <span>{{ item.name }}</span>
      <i (click)="setItemFavorite(item)" [ngClass]="item.favorite ? 'fas fa-heart' : 'far fa-heart'"></i>
      <img src="../assets/svg-icons/edit.svg" [routerLink]="['../../edit', item.id]">
    </div>
    <div class="divider"></div>
    <div class="contact-info">
      <img src="../assets/svg-icons/trash.svg">
      <span>email</span>
      <span>{{ item.email }}</span>
    </div>
    <div class="contact-info">
      <img class="phone-numbers" src="../assets/svg-icons/trash.svg">
      <span class="phone-numbers">numbers</span>
      <ng-container *ngFor="let numbers of item.phoneNumbers">
        <span>{{ numbers.type }}</span>
        <span>{{ numbers.number }}</span>
      </ng-container>
    </div>
  </div>
</div>
