<div class="input-container">
  <div class="label">
    <img src="../../../assets/svg-icons/phone.svg">
    <span>numbers</span>
    <span></span>
  </div>
  <ng-container *ngFor="let contact of form.controls; index as idx">
    <ng-container [formGroup]="contact">
      <input
        [ngClass]="contact['controls'].cell.touched && contact['controls'].cell.hasError('required') ? 'field-error' : undefined"
        formControlName="cell"
        class="number-type"
        type="text"
        placeholder="Label">
      <input
        [ngClass]="contact['controls'].number.touched && contact['controls'].number.hasError('required') ? 'field-error' : undefined"
        formControlName="number"
        class="number"
        type="text"
        placeholder="Number">
    </ng-container>
      <div class="delete-button" *ngIf="form.controls.length !== 1; else disable" (click)="removeContact(idx)"><img src="../assets/svg-icons/x.svg"></div>
      <ng-template #disable><div class="delete-button"></div></ng-template>
  </ng-container>
  <div class="add-button-container" *ngIf="form.controls.length < 5"  (click)="addNewContact()">
    <div class="add-button"><img src="../assets/svg-icons/x.svg"></div>
    <span>Add number</span>
  </div>
</div>
