@import '../../../styles/variables';

.contact-container {
  .label {
    height: 41px;
    span {
      padding-left: 15px;
    }
  }

  .input-container {
    display: grid;
    grid-template-columns: 300px 240px auto;
    grid-column-gap: 30px;

    & > .delete-button {
      grid-column-start: 3;
      grid-row-start: 1;
    }

    input {
      text-transform: capitalize;
      &.number-type {
        width: 300px;
      }

      &.extend {
        grid-column: 2/4;
        width: 300px;
      }

      &.shortened {
        width: 240px;
      }

      &:focus {
        border: 1px solid $color-primary;
        outline: 0;
      }

      justify-self: start;
      box-sizing: border-box;
      height: 60px;
      border: 1px solid $color-secondary;
      opacity: 0.4;
      border-radius: 4px;
      padding-left: 30px;
    }

    .error-label {
      position: relative;
    }

    .field-error {
      border: 1px solid #c40a00 !important;
    }

    label:not(:last-child) {
      margin-bottom: 30px;
    }

    .delete-button:hover ~ label > input {
      border: 1px solid $color-primary !important;
    }

    .delete-button {
      &:hover {
        filter: $color-primary-filter;
      }

      margin-top: 14.5px;
      height: 31px;
      width: 31px;
      border: 1px solid $color-secondary;
      border-radius: 50%;

      img {
        height: 8px;
        width: 8px;
        margin: 11px 0 0 11px;
      }
    }
  }

  .add-button-container {
    margin-top: 13px;
    width: 130px;
    display: flex;
    margin-bottom: 80px;

    &:hover {
      cursor: pointer;
    }

    .add-button {
      height: 31px;
      width: 31px;
      border: 1px solid $color-primary;
      border-radius: 50%;

      img {
        height: 8px;
        width: 8px;
        margin: 11.2px 0 0 11.2px;
        transform: rotate(45deg);
        filter: $color-primary-filter;
      }
    }

    span {
      padding-left: 15px;
      margin-top: 8px;
    }
  }
}
