<div class="input-container">
  <div class="label">
    <img src="../../../assets/svg-icons/phone.svg">
    <span>numbers</span>
    <span></span>
  </div>
  <ng-container *ngFor="let contact of form.controls; index as idx">
    <ng-container [formGroup]="contact">
      <input
        [class.field-error]="contact['controls'].label.touched && contact['controls'].label.hasError('required')"
        formControlName="label"
        class="number-type"
        type="text"
        maxlength="10"
        placeholder="Label">
      <input
        [class.field-error]="contact['controls'].number.touched && contact['controls'].number.hasError('required')"
        [ngClass]="form.controls.length === 1 ? 'extend' : 'shortened'"
        formControlName="number"
        type="text"
        maxlength="15"
        placeholder="Number">
    </ng-container>
      <div class="delete-button" *ngIf="form.controls.length !== 1" (click)="removeContact(idx)"><img src="../assets/svg-icons/x.svg"></div>

  </ng-container>
  <div class="add-button-container" *ngIf="form.controls.length < 5"  (click)="addNewContact()">
    <div class="add-button"><img src="../assets/svg-icons/x.svg"></div>
    <span>Add number</span>
  </div>
</div>
