@import '../../styles/variables';

.phonebook-container {
  display: grid;

  .tabs {
    display: grid;
    justify-self: center;
    grid-template-columns: auto 62px auto;
    padding-bottom: 48px;
    padding-top: 50px;

    .active-list {
      color: $color-primary;
    }

    span {
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: 0;
        }
        text-align: center;
    }

    :nth-child(even) {
      background-color: $color-secondary;
      justify-self: center;
      margin-top: 4px;
      height: 15px;
      width: 1px;
    }
  }

  .divider {
    height: 2px;
    width: 1260px;
    justify-self: center;
    box-sizing: border-box;
    border: 1px solid $color-primary;
  }
}
