.phonebook-container {
  display: grid;

  .tabs {
    display: grid;
    justify-self: center;
    grid-template-columns: auto 62px auto;
    padding-bottom: 48px;
    padding-top: 50px;

    .active-list {
      color: #2DA1AD;
    }

    span {
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: 0;
        }
        color: #BBC4C3;
        font-family: Lato;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
    }

    :nth-child(even) {
      background-color: #BBC4C3;
      justify-self: center;
      margin-top: 4px;
      height: 15px;
      width: 1px;
    }
  }

  .divider {
    height: 2px;
    width: 1260px;
    justify-self: center;
    box-sizing: border-box;
    border: 1px solid #2DA1AD;
  }
}

// grid-auto-rows: minmax(100px, auto);
