@import "../variables";

.delete-icon-text {
  color: $color-secondary;
  font-family: Lato;
  font-size: 14px;
}

.add-number-text {
  color: $color-primary;
  font-family: Lato;
  font-size: 14px;
}

.button-text {
  color: #FFFFFF;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
}

.contact-label-text {
  color: $color-secondary;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: Lato;
}

.dialog-title-text {
  font-size: 16px;
  color: $color-secondary;
  font-family: Lato;
  font-weight: bold;
}

.label-text {
  font-size: 16px;
  color: $color-primary;
  font-family: Lato;
  font-weight: bold;
}

.new-item-text {
  font-size: 16px;
  color: $color-primary;
  font-family: Lato;
}

.dialog-content-text {
  font-size: 16px;
  color: $color-secondary;
  font-family: Lato;
}

.details-text {
  font-size: 16px;
  color: $color-secondary;
  font-family: Lato;
}

.contact-details-text {
  font-size: 16px;
  color: $color-secondary;
  font-family: Lato;
  text-decoration: underline;
}

.tab-text {
  font-size: 18px;
  color: $color-secondary;
  font-family: Lato;
  font-weight: bold;
}

.item-title-text {
  font-size: 18px;
  color: $color-secondary;
  font-family: Lato;
  font-weight: bold;
}

.contact-title-text {
  font-size: 28px;
  color: $color-secondary;
  font-family: Lato;
  font-weight: bold;
}

.error-text {
  text-transform: capitalize;
  font-family: Lato;
  font-size: 11px;
  color: red;
  position: absolute;
  top: 63px;
}
