<div class="item-container">
  <img class="upload-image" [src]="(currentContact$ | async).img" *ngIf="mode.edit; else createMode">
  <ng-template #createMode>
    <img class="upload-image">
  </ng-template>


  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="mode.create ? '../' : '../../'">
      <div *ngIf="mode.edit">
        <span>Delete</span>
        <img src="../assets/svg-icons/trash.svg">
      </div>
    </div>
    <form [formGroup]="contactItemForm">
      <div class="divider"></div>

      <div class="input-field">
        <app-input-field formControlName="name" [required]="true" label="full name" [imgSrc]="'../../../assets/svg-icons/user.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-input-field formControlName="email" [required]="false" label="email" [imgSrc]="'../../../assets/svg-icons/mail.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-multiple-input-fields formControlName="contacts"></app-multiple-input-fields>
      </div>

      <div class="button-container">
        <button
          [routerLink]="mode.create ? '../' : '../../'"
        >Cancel</button>
        <button
          [disabled]="!contactItemForm.valid"
          (click)="submitForm()"
        >Save</button>
      </div>
    </form>
  </div>
</div>
