<div class="item-container">
  <label for="file-upload" class="upload-image"
         [style.background-color]="image ? 'rgba(0, 0, 0, 0.4)' : 'rgba(45,161,173,0.4)'">
    <img [src]="image" *ngIf="image" class="image">
    <img src="../assets/svg-icons/upload.svg" class="upload-icon">
    <input id="file-upload" hidden type="file" (change)="updateProfilePhoto($event)"/>
  </label>


  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="mode.create ? '../' : '../../'">
      <div *ngIf="mode.edit" (click)="openDialog('delete-confirmation' + currentConntact.id)">
        <span>Delete</span>
        <img src="../assets/svg-icons/trash.svg">
      </div>
    </div>
    <form [formGroup]="contactItemForm">
      <div class="divider"></div>

      <div class="input-field">
        <app-input-field formControlName="name" [required]="true" label="full name" [imgSrc]="'../../../assets/svg-icons/user.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-input-field formControlName="email" [required]="false" label="email" [imgSrc]="'../../../assets/svg-icons/mail.svg'"></app-input-field>
      </div>

      <div class="divider"></div>

      <div class="input-field">
        <app-multiple-input-fields formControlName="contacts"></app-multiple-input-fields>
      </div>

      <div class="button-container">
        <button
          [routerLink]="mode.create ? '../' : '../../'"
        >Cancel</button>
        <button
          [disabled]="!contactItemForm.valid"
          (click)="submitForm()"
        >Save</button>
      </div>
    </form>
  </div>
</div>

<app-confirmation-dialog *ngIf="mode.edit" [id]="'delete-confirmation' + currentConntact.id" (confirmDelete)="confirmDelete($event)">
</app-confirmation-dialog>
