<div class="item-container" *ngIf="contact$ | async; let contact">
  <img class="upload-image" [src]="contact.img || 'https://www.nik.hr/storage/app/uploads/storage/images/20522/thumbs/20522.jpg'">
  <div class="form-container">
    <div class="actions-section">
      <img src="../assets/svg-icons/back-button.svg" [routerLink]="'../../'">
      <span>{{ contact.name }}</span>
      <i (click)="setItemFavorite(contact)" [ngClass]="contact.favorite ? 'fas fa-heart' : 'far fa-heart'"></i>
      <img src="../assets/svg-icons/edit.svg" [routerLink]="['../../edit', contact.id]">
    </div>
    <div class="divider"></div>
    <div class="contact-info">
      <img src="../assets/svg-icons/mail.svg">
      <span>email</span>
      <span>{{ contact.email }}</span>
    </div>
    <div class="contact-info">
      <img class="phone-numbers" src="../assets/svg-icons/phone.svg">
      <span class="phone-numbers">numbers</span>
      <ng-container *ngFor="let numbers of contact.contacts">
        <span>{{ numbers.label }}</span>
        <span>{{ numbers.number }}</span>
      </ng-container>
    </div>
  </div>
</div>
