.header {
  height: 60px;
  width: 100%;
  background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
  text-align: center;
  img {
    padding-top: 19px;
  }
}

.border {
  height: 7px;
  width: 100%;
  opacity: 70%;
  background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
}
