<div class="input-container">
  <div class="label">
    <img [src]=imgSrc>
    <span>{{ label }}</span>
  </div>
  <label for="customInput" class="error-label">
    <span *ngIf="field.touched && field.hasError('required');else email">{{label}} is required</span>
    <ng-template #email>
      <span *ngIf="field.touched && field.hasError('notValidEmail')">Email is not valid</span>
    </ng-template>
    <input
      id="customInput"
      [ngClass]="field.touched && !field.valid ? 'field-error' : undefined"
      [formControl]="field"
      type="text"
      [placeholder]="label">
  </label>
</div>
