@import '../../../styles/variables';

.input-container {
  display: grid;
  .label {
    height: 41px;
    span {
      padding-left: 15px;
    }
  }

  .field-error {
    border: 1px solid #c40a00 !important;
  }

  .error-label {
    position: relative;
  }

  input {
    &:focus {
      border: 1px solid $color-primary;
      outline: 0;
    }
    text-transform: capitalize;
    box-sizing: border-box;
    height: 60px;
    width: 300px;
    border: 1px solid $color-secondary;
    opacity: 0.4;
    border-radius: 4px;
    padding-left: 30px;
  }
}
