@import '../../../styles/variables';

.new-item-container {
  height: 150px;
  width: 270px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%232DA1ADFF' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='49' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 4px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  .add-icon {
    margin: 0 auto;
    padding-top: 52px;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr;

    img {
      justify-self: center;
    }

    span {
      justify-self: center;
      padding-top: 11px;
    }
  }
}
